// app global css in SCSS form
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.border-black {
  border: 1px solid black;
}

.border-grey {
  border: 1px solid grey;
}
